# ROS2 build artifacts
build/
install/
log/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Editor files
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Linux
*.swp

# Virtual enviroment
.venv/